<configuration>

    <!-- Using variables from property file  -->
    <springProperty name="appName" source="spring.application.name"  defaultValue="default-name"/>
    <springProperty name="profile" source="spring.profiles.active"  defaultValue="default-profile"/>
    <!--  where logs is saved  -->
    <property name="LOGS" value="./logs"/>
    <!--  your console output  -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{dd-MMM-yyyy E HH:mm:ss.SSS}) %green([${appName}]) %blue([${profile}]) %yellow([%t]) %highlight(%-5level) %magenta(%logger{10}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--  your saved logs  -->
    <appender name="APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/logger.log</file>
        <encoder>
            <pattern>>%cyan(%d{dd-MMM-yyyy E HH:mm:ss.SSS}) %green([${appName}]) %blue([${profile}]) %yellow([%t]) %highlight(%-5level) %magenta(%logger{10}) - %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/${appName}/${profile}/logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root name="com.shah" level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="APPENDER"/>
    </root>
</configuration>